{{> header}}
<h3>This is the Project information page.</h3>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto fugit pariatur aperiam vero ullam magni vitae blanditiis accusantium quia ratione, doloribus, cumque distinctio maiores expedita id officiis vel eaque neque?</p>
{{> footer}}